@font-face {
  font-family: 'Pretendard';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Thin.woff') format('woff');
  font-weight: 100;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-ExtraLight.woff') format('woff');
  font-weight: 200;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Light.woff') format('woff');
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Medium.woff') format('woff');
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff') format('woff');
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff') format('woff');
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Black.woff') format('woff');
  font-weight: 900;
  font-display: swap;
}

.roboto-200-italic {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: italic;
  font-variation-settings:
    "wdth" 100;
}

.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* 노말라이즈 */
body,
ul,
li,
h1, h2, h3, h4, h5,
p, span {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

 /* 노말라이즈 끝 */

 /* 라이브러리 */
.border-red {
  border: 1px solid red;
}

.border-blue {
  border: 1px solid blue;
}

.border-black {
  border: 1px solid #000;
}

.border-green {
  border: 1px solid green;
}

.flex {
  display: flex;
}

.flex-d {
  flex-direction: column;
}

.grid {
  display: grid;
}

.con {
  margin-left: auto;
  margin-right: auto;
  width: 1920px;
}

.img-box>img {
  width: 100%;
  display: block;
}

.time_wrap {
  overflow: hidden;
}

.create_01 {
  transform: translateY(100%);
  opacity: 0;
}
 /* 라이브러리 끝 */

/* 커스텀 */
html {
  font-family: 'Pretendard';

  
  /* 스크롤바 커스텀 시작 */


body::-webkit-scrollbar {
  width: 3px;
  height: 0;
}

body::-webkit-scrollbar-thumb {
  height: 15%;
  background: #000;
  border-radius: 10px;
}

body::-webkit-scrollbar-track {
  background: #fff;
}
.swiper-horizontal {
  touch-action: auto;
}
/* 스크롤바 커스텀 끝 */
}




 /* <!-- 상단바 시작 --> */
.top-bar {
  height: 88px;
}
 /* <!-- 상단바 끝 --> */

 /* <!-- 메인 시작 --> */
.main {
  overflow: hidden;
  position: relative;
  padding: 80px 67px;
  box-sizing: border-box;
}

.main-wrap {
  margin-top: 280px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;

}

.main_line {
  width: 3260px;
  height: 175px;
  background-color: #000;
justify-content: start;
  align-items: center;
}

.main_line-1 {
  justify-content: center;
  position: absolute;
  top: 0;
  transform: rotate(10deg);
}

.main_line-2 {
  position: absolute;
  left: 50%;
  transform: rotate(-11deg) translateX(-50%);
}

.main_line-text-box  {
  align-items: center;
  color: #fff;
  white-space: nowrap;
}

.main_line-text-box .logo {
  width: 135px;
  height: 48px;
}

.main_line-1 .main_line-text-box {
  gap: 82px;
  margin-left: 60px;
}

.main_line-2 .main_line-text-box {
  gap: 60px;
  margin-left: 260px;
}

.main_line-text-box span {
  font-size: 62px;
  font-weight: 900;
}

.main_line-1 .main_line-text-box .LICENSE {
  font-size: 82px;
  text-decoration: underline;
}

.main_line-1 .main_line-text-box p {
  font-size: 24px;
  font-weight: 600;
}

.main_line-text-box .earth {
  width: 115px;
  height: 115px;
}

.main_line-text-box .m_line {
  width: 4px;
  height: 100px;
}

.main_line-2 .main_line-text-box .SCLA {
  font-size: 96px;
  font-weight: 700;
}

.main_line-2 .main_line-text-box .main_line-text-1 {
  font-size: 20px;
  font-weight: 500;
}

.main_line-2 .main_line-text-box .main_line-text-2 {
  gap: 18px;
}

.main_line-2 .main_line-text-box .main_line-text-2 li {
  font-size: 82px;
  font-weight: 900;
  text-decoration: underline;
}

.main_text-story {
  justify-content: end;
  margin-top: 280px;
}

.main_text-story .text-wrap {
  text-align: right;
  width: 746px;
}

.main_text-story .text-wrap h5 {
  margin-bottom: 22px;
  font-size: 18px;
  font-weight: 600;
}

.main_text-story .text-wrap p {
  text-align: justify;
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
}

.main_text-story .text-wrap p span {
  color: #fff;
}
 /* <!-- 메인 끝 --> */

 /* <!-- sec-2 시작 --> */
.sec-2 {
  background-color: #000;
  padding: 74px 28px;
  box-sizing: border-box;
}

.sec2-text-box {
  font-size: 62px;
  font-weight: 600;
  letter-spacing: -2px;
  line-height: 73px;
  color: #fff;
  text-align: justify;
}

.sec2-text-box1 {
  margin-bottom: 38px;
}

.sec2-text-box2 span {
  font-family: "Roboto", sans-serif;
}
 /* <!-- sec-2 끝 --> */

 /* <!-- sec-3 시작 --> */
  .sec-3 {
    position: relative;
    background-color: #000;
  }

  .sec-3_img-warp {
    justify-content: center;
    
  }
  
  .sec-3_img1 {
    position: relative;
  }

  .sec-3_img-text-wrap {
    flex-direction: column;
    position: absolute;
    color: #fff;
    top: 50%;
    transform: translateY(-50%);
    left: 52px;
    gap: 350px;
    width: 856px;
  }

  .sec-3_img-text-wrap .sec-3_img-text-box {
    flex-direction: column;
    gap: 350px;
  }

  .sec-3_img-text-wrap .sec-3_img-text-box .sec-3_img-text-title-box {
    flex-direction: column;
    align-items: center;
    gap: 24px;
  }

  .sec-3_img-text-wrap .sec-3_img-text-box .sec-3_img-text-title-box span {
    font-size: 48px;
    font-weight: 700;
    margin-right: 230px;
  }

  .sec-3_img-text-wrap .sec-3_img-text-title-box .sec-3_img-text-title {
    gap: 12px;
    align-items: center;
  }

  .sec-3_img-text-wrap .sec-3_img-text-title-box .sec-3_img-text-title span {
    font-size: 10px;
    font-weight: 400;
    text-align: right;
    margin: 0;
  }
  .sec-3_img-text-item-1 {
    text-align: right;
  }

  /* 오른쪽 이미지 silde */
  .sec-3_img2 {
    width: 960px;
    height: 950px;
    position: relative;
    overflow: hidden;
  }

  .sec-3_img2 .slide-img {
    width: 100%;
    height: 100%;
  }

  /* 스와이프 제어 */
.mySwiper .swiper-pagination-bullet {
  background: none !important;  /* 기본 배경 제거 */
  width: auto !important;       /* 기본 크기 제거 */
  height: auto !important;
  opacity: 1 !important;        /* 투명도 초기화 */
  margin: 0 6px;                /* 간격은 필요에 맞게 */
}

.mySwiper .swiper-pagination-bullet svg {
  width: 12px;
  height: 11px;
  display: block;
  fill: currentColor;
}

.mySwiper .swiper-pagination-bullet svg path {
  fill: currentColor !important; /* 하드코딩 fill 덮어쓰기 */
}

  .mySwiper .swiper-pagination-bullet {
    color: #565656; /* 비활성 회색 */
  }
  
  .mySwiper .swiper-pagination-bullet-active {
    color: #E9E9E9; /* 활성 흰색 */
  }

  .mySwiper .swiper-pagination {
    bottom: 130px;
  }
 /* <!-- sec-3 끝 --> */

 /* <!-- sec-4 시작 --> */
.sec-4 {
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
}

.sec-4_text-box {
  margin-top: 200px;
  flex-direction: column;
  gap: 400px;
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  left: 590px;
  pointer-events: none;
}

.sec-4_text-box .cont_btn-box {
  gap: 152px;
  margin-left: 525px;
}

.sec-4_text-box .cont_btn-box .cont_btn {
  position: relative;
  font-size: 32px;
  font-weight: 400;
  color: #fff;
  pointer-events: visible;
}
.sec-4_text-box .cont_btn-box .cont_btn:hover::after {
  position: absolute;
  content: "";
  bottom: -20px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #fff;
}

 .cont-box {
  position: relative;
  width: calc(100% - 0px);
  height: calc(100% - 0px);
  box-sizing: border-box;
 }

 .cont-box .cont::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: calc(100% - 0px);
  height: calc(100% - 0px);
  background-color: rgba(0, 0, 0, .5);
  transition: opacity 0.3s ease-in-out;
  pointer-events: none;
 }

 .cont {
  width:  480px;
  flex-shrink: 0;
  position: relative;
  transition-property: transform, opacity, width;
  transition-timing-function: ease-in-out;
  transition-duration: 1s;
 }

 .cont:hover {
  transform: scale(1.1);
 }

 .cont:hover::before {
  opacity: 0;
 }
 /* <!-- sec-4 끝 --> */

 /* <!-- sec-5 시작 --> */
 .sec-5 {
  background-color: #000;
  background-image: url(./images/sec-5_back-img.png);
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
 }

 .sec-5_wrap {
  padding: 198px 0;
  box-sizing: border-box;
 }
 .sec-5_wrap .sec-5_text-box {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 110px;
 }
 .sec-5_wrap .sec-5_text-box .sec-5_btn-box {
  cursor: pointer;
  
 }
 .sec-5_wrap .sec-5_text-box .sec-5_btn-box span {
  font-size: 40px;
  font-weight: 400;
  color: #f3f3f3;
  font-family: "Bebas Neue";  
  padding: 22px 142px;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, .3);
  
 }

 .sec-5_wrap .sec-5_ring-box {
  position: absolute;
  top: 140px;
  left: 230px;
  align-items: center;
 }

 .sec-5_wrap .sec-5_ring-box .ring-2 {
  margin-bottom: 50px;
  margin-left: 10px;
 }

 .sec-5_wrap .sec-5_ring-box .sec-5_ring {
  gap: 1006px;
 }

 /* .glass_sec-5-1 {
  width: 200px;
  height: 200px;
  bottom: 2170px;
  left: 130px;
 }

 .glass_sec-5-2 {
  width: 550px;
  height: 550px;
  left: 1600px;
  top: 1600px;
 }

.glass_sec-5-3 {
  width: 450px;
  height: 450px;
  bottom: 720px;
  left: -200px;
} */



 /* <!-- sec-5 끝 --> */

 /* <!-- sec-6 시작 --> */
 .sec-6 {
  background-color: #000;
  padding: 84px 62px;
  box-sizing: border-box;
 }

 .sec-6_img-wrap {
  gap: 80px;
 }

 .sec-6_img-box-1 {
  position: relative;
 }

 .sec-6_img-box .sec-6_text-box {
  position: absolute;
  flex-direction: column;
  left: 50%;
  transform: translateX(-50%);
  align-items: center;
  color: #fff;
  white-space: nowrap;
  gap: 107px;
 }

  .sec-6_img-box .sec-6_text-box-1 {
    top: 32px;
 }

 .sec-6_img-box .sec-6_text-box .sec-6_text-1 {
  text-align: right;
  gap: 274px;
  margin-bottom: calc(578px - 107px);
 }

 .sec-6_img-box .sec-6_text-box .sec-6_text .₩ {
  font-size: 20px;
  font-weight: 300;
  letter-spacing: -0.4px;
 }

 .sec-6_img-box .sec-6_text-box .sec-6_text .WASHED {
  font-size: 20px;
  font-weight: 900;
  line-height: 28px;
 }

 .sec-6_img-box .sec-6_text-box .sec-6_text-2 .sec-6_btn {
  font-size: 24px;
  color: #f3f3f3;
  font-family: "Bebas Neue";  
  padding: 18px 107px;
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(var(3px));
  background-color: rgba(255, 255, 255, .1);
  border-radius: 50px;
  box-shadow: 0 2px 5px 1px rgba(0,0,0,0.15), 
  0 -10px 20px -5px rgba(0,0,0,0.3) 
  inset, 0 150px 100px -80px rgba(0,0,0,0.4);
  cursor: pointer;
}

 .sec-6_img-box .sec-6_text-box .sec-6_text-3 {
  gap: 420px;
  font-size: 16px;
  font-weight: 300;
 }

 .sec-6_img-box .sec-6_text-box .sec-6_text-3 span {
  font-weight: 700;
  margin-right: 8px;
 }

.sec-6_img-box-2 {
  position: relative;
}

.sec-6_img-box .sec-6_text-box-2 {
  position: absolute;
  bottom: 32px;
 }

 .sec-6_img-box .sec-6_text-box-3 {
  position: absolute;
  bottom: 32px;
 }

 .sec-6_img-box .sec-6_text-box-4 {
  position: absolute;
  bottom: 32px;
 }

 .sec-6_img-box .sec-6_text-box-2  .sec-6_text-2 {
  gap: 228px;
 }

 .sec-6_img-box .sec-6_text-box-3  .sec-6_text-3 {
  gap: 350px;
 }

 .sec-6_img-box .sec-6_text-box-4  .sec-6_text-4 {
  gap: 348px;
 }
 /* <!-- sec-6 끝 --> */

  /* <!-- sec-7 시작 --> */
 /* <!-- sec-7끝 --> */
 /* <!-- footer 시작 --> */
 #footer {
  box-sizing: border-box;
  padding: 126px 321px 186px;
  background-color: #000;
 }

 .ft-wrap {
  flex-direction: column;
  align-items: center;
 }

 .ft-wrap .ft_line-box {
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  gap: 1194px;
  position: relative;
 }

 .ft-wrap .ft_line-box::before {
  content: "";
  position: absolute;
  width: 1162px;
  height: 3px;
  background-color: #d9d9d9;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
 }

 .ft-wrap .ft-text-box {
  width: 968px;
  height: 1096px;
  background-color: #fff;
  padding: 42px 88px;
  box-sizing: border-box;

 }
 /* <!-- footer 끝 --> */